<div>
    <input type="text" [(ngModel)]="city"><br><br>
    <button class="button" (click)="onOptionsSelected()">Get weather</button><br><br>
   
    <div>
        <table class="table">
            <tr>
              <th>City</th>
              <th>Id</th>
              <th>lat-long</th>
            </tr>
            <tr *ngFor="let item of weatherList">
              <td>{{item.title}}</td>
              <td>{{item.woeid}}</td>
              <td>{{item.latt_long}}</td>
            </tr>
        </table>
    </div> 
</div>

